/* Global Styles and Variables */
:root {
    --primary-color: #1e3c72;
    --secondary-color: #2a5298;
    --background-color: #f8f8f8;
    --text-color: #333;
    --secondary-text-color: #666;
    --accent-color: #555;
    --white: #fff;
    --light-gray: #ccc;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --hover-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Reset */
  body, h1, h2, h3, p, a, input, textarea, button {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Body */
  body {
    background-color: whitesmoke;
    color: black;
    line-height: 1.5;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  /* Paragraphs */
  p {
    color: black;
  }
  
  /* Links */
  a {
    color: white;
    text-decoration: none;
  }
  
  /* Focus States */
  a:focus, button:focus, textarea:focus {
    outline: 1px solid black;
    outline-offset: 0px;
  }
  
  /* Container */
  .container, header, .card, form {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
  }
  
  /* Header */
  header {
    background-color: darkslategrey;
    color:white;
    text-align: center;
    box-shadow: darkslategrey;
  }
  
  /* Sidebar */
  /* .sidebar {
    background-color: black;
    color: var(--white);
  } */
  /* 
  .sidebar ul {
    list-style: none;
  } */
  /* 
  .sidebar li + li {
    margin-top: 10px;
  } */
  
  /* .sidebar a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  } */
  
  /* .sidebar a:hover, .sidebar a:focus {
    background-color: var(--accent-color);
  } */
  
  /* Cards */
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: var(--hover-box-shadow);
  }
  
  /* Forms */
  form {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: darkslategray;
    color: #FFFFFF;
    padding: 15px 10px;
    border: 0.5px darkslategrey;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #356060;
    /* /* color: white; */
    border-color: #356060 
  }

  input[type="submit"]:focus {
    background-color: #356060;
    /* /* color: white; */
    border-color: #356060 
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container, header, .sidebar, .main-content {
        padding: 10px;
    }
  
    /* .sidebar li + li {
        margin-top: 5px;
    } */
  
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    textarea {
        padding: 10px;
    }
  }
  
  .btn-container {
    display: flex;
    gap: 1rem;
}

.btn {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #2f4f4f;
    color: #fff;
    text-decoration: none;
}