body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  #addRoutineBtn{
    margin-bottom: 8px;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
    color: #333;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"], select {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .time-select {
    display: flex;
    align-items: center;
  }
  .meridiem {
    width: 10px;
  }
  .time-select input {
    width: 50px;
    margin-right: 10px;
  }
  button {
    padding: 10px 20px;
    background-color: #2f4f4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #356060;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    transition: background-color 0.3s ease;
  }
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #555;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  span {
    padding-right: 10 px;
  }


  